.table-container {
    max-height: 85vh;
    overflow: auto;
  }
  table {
    width: 100%;
  }
  tr.mat-header-row {
    height: 3.125rem;
    font-weight: bold;
  }
  th{
    height: 3.125rem;
    font-family:Lato !important;
    font-size:1.3rem;
    color: #004faa;
    border-bottom: none !important;
  
  }
  td{
    height: 3.125rem;
    cursor: pointer;
    border-bottom:1px dashed #e0e0e0!important;
    font-size: 0.937vw;
    color: rgba(0,0,0,.6);
  }
   
  :host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0 !important;
  }
  
  :host ::ng-deep .mat-form-field-infix {
    width:auto;
  }

  tr.mat-row, tr.mat-footer-row {
    height: 5rem;
}